h1 Welcome to #{title} !
p A chrome extension , scroll the page to the position that you left last time
h3
  a(href='http://github.com/xuyannan/auto_scroll',target='_blank') Fork me on Github
h2 usage
p
  |1. 
  a(href='/newuser',target='_blank') Create account 
p
  |2. 
  a(href='/download/auto_scroll.crx',target='_blank') Download auto scroll 
p 
  |3. 
  |Install , open options page , login with your account
p 
  |4. 
  |Click auto scroll's icon in address bar when you wish
