h1= title
p Welcome to #{title}
p A chrome extension , scroll the page to the position that you left last time
p
  a(href='/newuser') Create Account 
p
  a(href='http://github.com/xuyannan/auto_scroll') Follow me on Github
