- var html = "<script type='text/javascript' src='jquery.min.js'></script>"
| !{html}
h1 register
#register
  p
    label(for="email") email:
    input#email
  p
    label(for="password") password:
    input#password
  p
    label(for="re-password") confirm password:
    input#re-password
  p
    button#btn-submit submit
script
  console.log('hello');
